.wrapper {
    text-align: center;
}

button{
    font-family: 'Nobile', sans-serif;
}

.greenButton{
    background-color: #6fce85;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 10px;
    position: relative;
}

.redButton{
    background-color: #c66d6d;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 10px;
    position: relative;
}

.yellowButton{
    background-color: #D6A2E8;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 10px;
    position: relative;
}

.blueButton{
    background-color: #7988c4;
    height: 200px;
    width: 200px;
    border-radius: 200px;
    margin: 10px;
    position: relative;
}

.startButton {
    height: 30px;
    width: 60px;
    border-radius: 6px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: 'Nobile', sans-serif;
}

h2 {
    margin-top: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Nobile', sans-serif;
}

body {
    background-color: #2d3436;
}
